// Margin utility mixin
@mixin margin-variant($id: 1, $size: $unit-1) {
  .m-#{$id} {
    margin: $size !important;
  }

  .mb-#{$id} {
    margin-bottom: $size !important;
  }

  .ml-#{$id} {
    margin-left: $size !important;
  }

  .mr-#{$id} {
    margin-right: $size !important;
  }

  .mt-#{$id} {
    margin-top: $size !important;
  }

  .mx-#{$id} {
    margin-left: $size !important;
    margin-right: $size !important;
  }

  .my-#{$id} {
    margin-bottom: $size !important;
    margin-top: $size !important;
  }
}

@mixin spacing($size: $unit-1) {

  .spacing-bottom {
    margin-bottom: $size !important;
  }

  .spacing-left {
    margin-left: $size !important;
  }

  .spacing-right {
    margin-right: $size !important;
  }

  .spacing-top {
    margin-top: $size !important;
  }
}

@mixin spacing-variant($id: 1, $size: $unit-1) {

  .spacing-bottom--#{$id} {
    margin-bottom: $size !important;
  }

  .spacing-left--#{$id} {
    margin-left: $size !important;
  }

  .spacing-right--#{$id} {
    margin-right: $size !important;
  }

  .spacing-top--#{$id} {
    margin-top: $size !important;
  }
}

// Padding utility mixin
@mixin padding-variant($id: 1, $size: $unit-1) {
  .p-#{$id} {
    padding: $size !important;
  }

  .pb-#{$id} {
    padding-bottom: $size !important;
  }

  .pl-#{$id} {
    padding-left: $size !important;
  }

  .pr-#{$id} {
    padding-right: $size !important;
  }

  .pt-#{$id} {
    padding-top: $size !important;
  }

  .px-#{$id} {
    padding-left: $size !important;
    padding-right: $size !important;
  }

  .py-#{$id} {
    padding-bottom: $size !important;
    padding-top: $size !important;
  }
}